<% if line_item == @current_item %>
  <tr class="line-item-highlight">
  <% else %>
    <tr>
    <% end %>
    <td>
        <%= button_to '-', decrement_line_item_path(line_item),
                  data:{qa: "product-#{line_item.product.id}-minus-button"},
                  method: :put,
                  remote: true %>
    </td>
    <td>
        <%= button_to '+', line_items_path(product_id: line_item.product_id),
                  data:{qa: "product-#{line_item.product.id}-plus-button"},
                  remote: true %>
    </td>
    <td class="product-<%= line_item.product_id %> quantity"><%= line_item.quantity %></td>
    <td data-qa="product-title"><%= line_item.product.title %></td>
    <td class="price"><%= number_to_currency(line_item.total_price) %></td>
    <td>      <%= button_to 'Remove item', line_item,
                  method: :delete, 
                  data: { confirm: 'Are you sure?'} %>
    </td>
  </tr>
